/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
div.main-view-div-1 {
  border-radius:var(--lumo-border-radius-m);
  border-style:solid;
  border-width:1px;
}
